.App-header {
	background: #FFFFFF;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);

	width: 100vw;
	height: 45px;
	position: fixed;

	display:flex;
	align-items: center;
	justify-content: space-between;
}

.Logo {
	display: inline;

}

.Titulo {
	font-family: Ropa Sans;
	font-style: normal;
	font-weight: normal;
	font-size: calc(30px);
	color: #777777;

	margin: auto 0 auto 10px;
	display: inline;
}

.FullSlogan {
	display: inline;

	width: 100px;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}

.slogan {
	font-family: Ropa Sans;
	font-style: normal;
	font-weight: normal;
	font-size: calc(15px);
	color: #AAAAAA;

	display:inline;

}

.menu {
	width: calc(30px + 1vmin);
	background: #AAAAAA;
	margin-right: 20px;
}