.App-Footer{
	background-color:#333333;
	min-height: 20vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: white;

	padding: 20px;
}

.logos {
	display: flex;
	justify-content: space-between;

	width: 60%;
}

.logos-img {
	width: 25px;
}